.page .side-bar.sub-sidebar-wrapper{
    height: 80%;
    top: 50%;
    transform: translateY(-50%) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.page hr{
    margin: 40px 0;
}